## Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*

# User-specific
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.mdb
/.vs/
/.vscode/

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
~$*

# Visual Studio cache/options
*.vsconfig
*.VC.db

# JetBrains Rider
.idea/
*.sln.iml

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# Crashlytics / mobile
/crashlytics-build.properties

# Build artifacts
/Builds/

# Avoid committing secrets
/Assets/StreamingAssets/Secrets/